<h1>Add a Cy Young Winner</h1>
<div class="container">
<form>
<input type="text" class="form-control" name="firstName" ng-model="newWinner.firstName" placeholder="First Name" value="">
<input type="text" class="form-control" name="lastName" ng-model="newWinner.lastName" placeholder = "Last Name" value="">
<input type="text" class="form-control" name="year" ng-model="newWinner.year" placeholder="Year Won" value="">
<input type="text" class="form-control" name="league" ng-model="newWinner.league" placeholder="League" value="">
<input type="text" class="form-control" name="team" ng-model="newWinner.team" placeholder="Team" value="">
<input type="text" class="form-control" name="wins" ng-model="newWinner.wins" placeholder="Wins" value="">
<input type="text" class="form-control" name="losses" ng-model="newWinner.losses" placeholder="Losses" value="">
<input type="text" class="form-control" name="saves" ng-model="newWinner.saves" placeholder="Saves" value="">
<input type="text" class="form-control" name="era" ng-model="newWinner.era" placeholder="ERA" value="">
<input type="text" class="form-control" name="strikeouts" ng-model="newWinner.strikeouts" placeholder="Strikeouts" value="">
<button type="button" class="btn btn-default addButton" ng-click="addWinner(newWinner)" name="button">Submit</button>
</form>
</div>
